# Neon
DATABASE_URL=""

# Resend
RESEND_FROM=""
RESEND_TOKEN=""

# Better Auth
BETTER_AUTH_SECRET=""

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

# Betterstack
BETTERSTACK_API_KEY=""
BETTERSTACK_URL=""

# Flags
FLAGS_SECRET=""

# Arcjet
ARCJET_KEY=""

# Svix
SVIX_TOKEN=""

# Basehub
BASEHUB_TOKEN=""

# Knock
KNOCK_API_KEY=""
KNOCK_FEED_CHANNEL_ID=""
KNOCK_SECRET_API_KEY=""

# Posthog
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST=""

# Vercel
VERCEL_PROJECT_PRODUCTION_URL="http://localhost:3002"

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_WEB_URL="http://localhost:3001"
NEXT_PUBLIC_DOCS_URL="http://localhost:3004"